*.nav
*.snm
*.ptb
*.blg
*.log
*.aux
*.lof
*.lot
*.bit
*.idx
*.glo
*.bbl
*.ilg
*.toc
*.out
*.ind
*.ps
*.dvi
*~
*.ml*
*.mt*
*.th*
*.bmt
*.xyc
*.bcf
*.run.xml
*.dot
*.ptc
.vscode
*.bak*
*.fls
*.fdb_latexmk
*.gz
*.loa
.vscode
report.synctex(busy)
